version: '3.8'
services:
  frontend:
    build:
      context: ./
      dockerfile: ./deploy/Dockerfile.frontend
    ports:
      - '3000:3000'
    depends_on:
      - backend
    env_file:
      - ./deploy/.env.example
  backend:
    build:
      context: ./
      dockerfile: ./deploy/Dockerfile.backend
    ports:
      - '8000:8000'
    depends_on:
      - redis
      - mongo
    env_file:
      - ./deploy/.env.example
  redis:
    image: redis:7
    ports:
      - '6379:6379'
  mongo:
    image: mongo:6
    ports:
      - '27017:27017'
  nginx:
    image: nginx:stable
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - '80:80'
    depends_on:
      - frontend
      - backend
